ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Roboto";
  font-size: 14px;
}

/* 
global style */
.container {
  margin: 0 auto;
  max-width: 1338px;
  width: 100%;
  padding-inline: clamp(16px, 4vw, 51px);
  padding-block: 25px;
}

.g-main-text {
  text-align: center;

  font-size: 50px;

  font-weight: 600;
  line-height: 120%;
}
.g-text {
  font-size: 20px;

  font-weight: 400;
  line-height: 150%;
}
/* <<<<<<<<<<<<<<<<header */

.header {
  margin-bottom: 129px;
  border-bottom: 1px solid #9a969680;
}
.header-box {
  display: flex;
  gap: 51px;
  justify-content: space-between;
  align-items: center;
}
.navigetion-box {
  display: flex;

  gap: 57px;
}
.navigation-El {
  color: #000;

  font-size: 15px;

  font-weight: 400;
  line-height: 1.33%;
}

.btn-box {
  display: flex;
  gap: 10px;
}
.btn {
  width: 120px;
  height: 45px;
  flex-shrink: 0;

  text-align: center;
  background-color: #ffffff;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-weight: 600;
  line-height: 281%;
}
.btn:hover,
.btn:focus {
  background: #ff6336;
  color: #fff;
}
/* <<<<<<<<<<SECTION Hero  */

.hero-container {
  display: flex;
  min-height: 560px;

  padding-bottom: 148px;
}

.hero-position-box {
  display: flex;

  flex-wrap: nowrap;
}
.hero-img {
  width: 100%;

  max-width: 759px;

  height: auto;
}
.hero-main-text {
  color: #000;
  max-width: 552px;
  font-size: 65px;

  font-weight: 600;
  line-height: 107.7%;
}
.hero-prev-text {
  font-size: 25px;
  max-width: 471px;
  font-weight: 400;
  line-height: 140%;
}
.hero-btn {
  width: 160px;
  height: 60px;
}

/* SECTION CLIEINT */
.section-clients {
  width: 100%;
  background: #ff9c7d;
}
.clients-icon-box {
  display: flex;
  gap: clamp(16px, 6vw, 103px);
}
.clients-main-text {
  max-width: 720px;
}
.clients-contant-box {
  width: 100%;
  display: flex;
  align-items: center;

  flex-direction: column;
  gap: 82px;
  padding-top: 96px;
  padding-bottom: 124px;
  background: #ff9c7d;
}
/* section project */
.project-box {
  display: flex;
}
.project-content-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.project-box-item {
  flex: 1;
}
.project-bootom-text {
  font-weight: 600;
}
